/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 27, 2018, 11:34:31 PM
    Author     : eveli
*/

#weather{
    height: 500px;
}
#weatherIMG{
    width:1450px;
    height: 500px;
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.weatherInfo{
    position: absolute;
    top: 15%;
    left: 8%;
    color:white;
    text-align: left;
}
.snow{
    position: absolute;
    top: 15%;
    left: 8%;
    color:black;
    text-align: left;
}
#city-temp{
    font-weight: 700;
}
#predictions{
    position: absolute;
    top: 23%;
    left: 47%;
}
#prediction-font{
    font-size: 46px;
    font-style: oblique;
    font-weight: 900;
    color: aliceblue;
}

@media screen and (max-width: 767px) {
    #weather{
        height: 500px;
        padding-left: 0px;

    }
    #weatherIMG{
        width:700px;
        height: 500px;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
    #city-temp{
        font-size: 20px;
        font-weight: 700;
    }
    #predictions{
        position: absolute;
        top: 70%;
        left: 0%;
    }
    #prediction-font{
        font-size: 32px;
        font-style: oblique;
        font-weight: 900;
        color: aliceblue;
    }

}

@media screen and (max-width: 430px) {

    .weatherInfo{
        position: absolute;
        top: 7%;
        left: 12%;
        color:aliceblue;
        text-align: left;
    }
    #weather{
        height: 500px;
        padding-left: 0px;
    }
    #weatherIMG{
        width:430px;
        height: 500px;
        -webkit-filter: blur(2px);
        filter: blur(2px);
    }
    #predictions{
        position: absolute;
        top: 67%;
        left: 0%;
    }
    #prediction-font{
        font-size: 23px;
        font-style: oblique;
        font-weight: 900;
        color: aliceblue;
    }

}
