/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 14, 2018, 7:27:30 PM
    Author     : eveli
*/


#images{
    width:379px;
    height:800px;
}

#motivation{
    padding-left: 0px;
    padding-right: 0px;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);

}
a{
    font-size: 25px;
    font-weight: bold;
}
#images-central{
    padding-top: 10px;
    width:1200px;
    height:400px;
}
#headPeople{
    background-color: #C388EA;
    margin-left: 0px;
    margin-right: 0px;
    height:300px;
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    padding-top: 60px;
}
#people{
    font-size: 18px;
}
@media screen and (max-width: 767px) {
    #images{
        width:500px;
        height:400px;
    }
    #motivation{
        padding-left: 0px;
        padding-right: 0px;
    }
    #images-central{
        padding-top: 10px;
        width:500px;
        height:300px;
    }
    #headPeople{
        background-color: #C388EA;
        margin-left: 0px;
        margin-right: 0px;
        height:180px;
        color: white;
        font-size: 18px;
        font-weight: bold;
        font-style: italic;
        padding-top: 40px;
    }
    #people{
        font-size: 16px;
    }

}

@media screen and (max-width: 400px) {
    #images{
        width:360px;
        height:380px;
    }
    #motivation{
        padding-left: 0px;
        padding-right: 0px;
    }
    #images-central{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 10px;
        width:340px;
        height:270px;
    }
    #headPeople{
        background-color: #C388EA;
        margin-left: 0px;
        margin-right: 0px;
        height:180px;
        color: white;
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        padding-top: 40px;
    }
    #people{
        font-size: 15px;
    }
}
