/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 19, 2018, 11:36:09 PM
    Author     : eveli
*/

body{
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

#logo {
    position: relative;
    float: left;
    left:-15px;
}


.btn-group {
    margin: 15px;
    font-size: 28px;
}

.headline{
    color: black;
    font-family: Georgia, sans-serif;
    font-weight: 900;
    position: relative;

    text-align: center;
}
#headlineStartPage{
    top:300px;
}

#mainText{
    color: #1E90FF;
    font-family: Georgia, serif;
    font-size: 24px;
    position: relative;
    top:360px;
    text-align: justify;
}
#link{
    color: #FFFFFF;
    font-family: Georgia, serif;
    font-size: 18px;
    position: relative;
    top:360px;
    text-align: justify;
}
#signup_btn{
    position:absolute;
    top:50%;
    left:110%;
}
#member{
    position:absolute;
    top:95%;
}
#notAmember{
    position: absolute;
    top:80%;
}
#not{
    position: absolute;
    left: 42%;
}
#buttonLogin{
    position: absolute;
    top:70%;
}
#user{
    position:absolute;
    left:45%;
}
#loginform{
    position: absolute;
    top:40%;
}
#ajaxContentS{
    position:absolute;
    top:95%;
    left: 55%;
}
#navbarForms{
    background-color: #b1cff9;
    height: 73px;
}
#registrationForm{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}